<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mike.kor.capitalcountry"
    tools:ignore="LockedOrientationActivity">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapitalCountry"
        tools:targetApi="31">
        <activity
            android:name=".PrivacyPolicy4"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy3"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy2"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy1"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Result_All"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tren_All"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result_OON"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tren_OON"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result_100"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tren_100"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result_50"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tren_50"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result_20"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tren_20"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListTren"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterYa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterEe"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterW"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterCh"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterC"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterX"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterF"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterY"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterT"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterS"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterR"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterPe"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterO"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterM"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterL"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterK"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterJ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterZ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterE"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterD"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterG"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterBe"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prompt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterB"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter.CountryLetterA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseKnowledge"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>